[Desktop Entry]
Type=Application
Name=Mailbox
GenericName=Email Client
Comment=A native, fast Gmail client
Exec=mailbox %u
Icon=com.jsnjack.mailbox
Terminal=false
Categories=Network;Email;GTK;GNOME;
Keywords=Email;Gmail;Mail;
MimeType=x-scheme-handler/mailto;
StartupNotify=true
